{% extends "base.html" %}

{% block title %}Registration Form{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
<div class="login-container">
    <div class="img">
        <img src="{{ url_for('static', filename='img/1732783066853.jpg') }}" alt="">
    </div>
    <form id="login-form">
        <div class="form-group">
            <label for="full-name">user-name: </label>
            <input class="finput" type="text" id="user_name" name="user_name" required>
        </div>
        <div class="form-group">
            <label for="registration-number">password: </label>
            <input type="text" id="password" name="password" required>
        </div>
        <a href="{{ url_for('registration') }}">REGISTER</a>
        <button type="submit" id="login-button" class="login-btn">Login</button>
        

        <div id="message" style="margin-top: 10px;"></div>
    </form>
    

</div>
<script src="{{ url_for('static', filename='js/login.js') }}" defer></script>

{% endblock %}


